<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<script src="http://cdn.binaryjs.com/0/binary.js" type="text/javascript" language="javascript"></script>
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript" language="javascript"></script>
<script src="https://cdn.webrtc-experiment.com/RecordRTC.js"></script>
<script src="https://cdn.webrtc-experiment.com/gif-recorder.js"></script>
<script src="https://cdn.webrtc-experiment.com/getScreenId.js"></script>
<script src="https://cdn.rawgit.com/webrtc/adapter/master/adapter.js"></script>
<script src="https://cdn.rawgit.com/webrtc/adapter/master/adapter.js"></script>
<script src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js"> </script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>    
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />


</head>
    
<body>   
  
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">MPEG - DASH</a></h1>
		</div>
		
	</div>
</div>
    
<div id="page" class="container">
	<div id="content">
		<div class="title">
			<h2>Video Player</h2>
</div>
			<video width="520" height="540" autoplay=""></video>
<script>
var getQueryString = function ( field, url ) {
    var href = url ? url : window.location.href;
    var reg = new RegExp( '[?&]' + field + '=([^&#]*)', 'i' );
    var string = reg.exec(href);
    return string ? string[1] : null;
};


var channelname = getQueryString('cname'); 


  var errorCallback = function(e) {
    console.log('Reeeejected!', e);
  };
  

 // Not showing vendor prefixes.
 // navigator.getUserMedia({video: true, audio: true}, function(localMediaStream) {
    var video = document.querySelector('video');
   // video.src = window.URL.createObjectURL(localMediaStream);

  window.URL = window.webkitURL || window.URL;
  var client = new BinaryClient('ws://52.87.224.162:8003');

 		
//		var  stream = client.createStream(); // Send meta data to identify streamer
		//video.src = URL.createObjectURL(blob);
			
		function sleep(milliseconds) {
		  var start = new Date().getTime();
		  for (var i = 0; i < 1e7; i++) {
		    if ((new Date().getTime() - start) > milliseconds){
		      break;
		    }
  		}
	       }
//	});
//	});
//	client.on('open', function(stream, meta){
//		console.log("On open trigeered");
//		});
    client.on('stream', function(stream, meta){    
   //	if (meta === 'fromserver') {
		stream.on('data', function (data) {
		console.log(window.URL);	
		//video.src = data;
                 data = blob  = CryptoJS.AES.decrypt(data, "password");

                blob = new Blob([data], {type: 'video/mp4'});		
                video.src = window.URL.createObjectURL(blob);
	});
	//}
      });
	client.on('data', function(stream, meta){    
   		video.src = URL.createObjectURL(stream);
	});	
//}, errorCallback);	

</script>

	</div>
	
</div>
    
     
</body>
</html>
